.product-history-container{
    position: fixed;
    top:20vh;
    left:10vw;
    height: 70vh;
    padding: 4rem;
    width: 80vw;
    background-color: rgb(231, 244, 255);
    border-radius: 3rem 3rem 3rem/3rem 3rem;
    color: rgb(66, 66, 66);
    
}

.product-history-close{
    position: absolute;
    background-image: url('./Vectorclose.svg');
    height: 20px;
    width: 20px;
    right: 31px;
    top:31px;
    cursor: pointer;
}