*{
    font-family: 'poppins';
    }
    .options{
        font-weight: 400;
        font-size: 0.9rem;
        padding-top: 5rem !important;
    }
    .active{
    font-weight: 600 !important;
    border-bottom: 2px solid black !important;
    }
    .button{
        border-radius: 0 !important;
    }
    .navswitch{
        margin-bottom: 4rem;
    }